<p style="text-align: justify;">
    У цьому завданні вам буде надано результат, і ваше завдання полягає у тому, щоб знайти арифметичний вираз, який використовує лише числа pi та e для отримання цього результату.
    Ви можете використовувати операції додавання, віднімання, множення, ділення та піднесення до степеня, причому кожне число (pi та e) може зустрічатись не більше двох разів.
    Дужки використовувати заборонено. Якщо існує декілька розв'язків, поверніть той, який потребує меншої кількості операцій. Якщо розв'язків все ще декілька,
    виведіть перший за алфавітом (без пропусків). Обчислений результат повинен бути рівним з похибкою менше 1 x 10<sup>-10</sup>. 
    Якщо розв'язку для вхідних даних не існує, виведіть <span translate="no">{% if is_js %}null{% else %}None{% endif %}</span>. Допускається використання невід'ємного/позитивного символу на початку.
</p>
    
<p>
   <strong>Вхідні дані:</strong> Число з плаваючою комою <span>({% if is_js %}number{% else %}float{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
</p>
    
<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p class="for_info_only">
   <strong>Як використовується:</strong>
У задачах, які вимагають знаходження арифметичних виразів, ми можемо інтуїтивно відчути цікаві математичні зв'язки. Наприклад, одним з таких співвідношень є той факт, що 1/1<sup>2</sup> + 1/2<sup>2</sup> + 1/3<sup>2</sup> + ... = 1.64493406685... = &pi;<sup>2</sup>/6 
</p>
    
    
