<p style="text-align: justify;">
    Dans ce défi, on vous donnera un résultat et votre tâche consistera à trouver une expression arithmétique qui n'utilise que les nombres pi et e pour obtenir ce résultat.
    Vous pouvez utiliser les opérations d'addition, de soustraction, de multiplication, de division et d'exponentiation, et chaque nombre (pi et e) peut apparaître au maximum deux fois.
    Les parenthèses ne sont pas autorisées. S'il existe plusieurs solutions, renvoyez celle qui nécessite le moins d'opérations. S'il y a encore plusieurs solutions,
    renvoyez celle qui vient en premier dans l'ordre alphabétique (sans espace). Le résultat calculé doit être égal avec une erreur inférieure à 1 x <sup> 10-10</sup>. 
    S'il n'y a pas de solution pour l'entrée, renvoyez <span translate="no">{% if is_js %}null{% else %}None{% endif %})</span>. Un symbole non négatif/positif au début est autorisé.
</p>
    
<p>
   <strong>Entrée:</strong> Nombre à virgule flottante <span>({% if is_js %}number{% else %}float{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Chaîne de caractères <span>(str{% if is_js %}ing{% endif %})</span>.
</p>
    
<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p class="for_info_only">
   <strong>Comment l'utiliser:</strong>
Dans les défis qui nécessitent de trouver des expressions arithmétiques, nous pouvons déceler des relations mathématiques intéressantes. Par exemple, l'une de ces relations est le fait que <sup>1/12</sup> + <sup>1/22</sup> + <sup>1/32</sup> + ... = 1,64493406685... = <sup>&pi;2/6</sup> 
</p>
    
    
